<div class="inner">
  <h1 id="logo">
    <a href="./index.html" class="logo__link">ㅇㅎ!ㅇㅌ</a>
    <!-- <span class="blind">오드오드 아하! 오팀</span> -->
  </h1>
  <!-- <nav id="gnb" class="gnb">
    <ul class="gnb__depth1">
      <li>
        <a href="#why">
          <span>왜 오팀이어야 할까?</span>
        </a>
      </li>
      <li>
        <a href="#work"><span>포트폴리오</span></a>
      </li>
      <li>
        <a href="#strength"><span>오팀의 강점</span></a>
      </li>
      <li>
        <a href="#partners"><span>파트너사</span></a>
      </li>
    </ul>
  </nav> -->
  <div class="util">
    <button class="lang">
      프로젝트 문의
    </button>
  </div>
</div>